@import com.mbrdi.anita.basic.controller.StaticContent
@import com.mbrdi.anita.user.model.User
@()
@views.html.basic.header("Employees","employees", "All Employees")
@views.html.basic.deletedialog()
<script src='@StaticContent.at("assets/plugins/angular/angular.min.js")'></script>

<div class="row">
    <div ng-controller="employeeCtl" ng-app="employeeApp">
        <div class="alert alert-success fade in" ng-cloak ng-show="message != null">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa  fa-times"></i></button>
            <strong>Well done! </strong> {{message}}
        </div>

        <div class="col-md-3 pull-right">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-filter"></i> Filter</h3>
                </div>
                <div class="panel-body sky-form">
                    <div class="form-group">
                        <label class=" checkbox-inline" style="font-size: 14px; line-height: 16px; padding-top: 5px; margin-right:20px">
                            <input type="checkbox" id="unverified" > Show unverified
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Name" id="search_name" class="form-control" maxlength="50"/>
                    </div>

                    <div class="form-group">
                        <label>Employee ID</label>
                        <input type="text" placeholder="Employee ID" id="search_emp_no" class="form-control" maxlength="20"/>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" placeholder="Email" id="search_email" class="form-control" maxlength="50"/>
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input type="number" placeholder="Phone" id="search_phone" class="form-control number-field" maxlength="12"/>
                    </div>

                    <div class="form-group">
                        <label>Gender</label>
                        <select id="search_gender" class="form-control" >
                            <option value="all">All</option>
                            <option value="1">Male</option>
                            <option value="0">Female</option>
                            <option value="2">Others</option>
                        </select>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-sm" ng-click="refreshGrid()"><i class="icon-refresh"></i></button>
                        <button class="btn btn-info btn-sm" ng-click="filterAll()"><i class="icon-magnifier"></i></button>
                    </div>

                </div>
            </div>
            <input type="hidden" value='@session().get("corp_id")' id="corp_id">
        </div>

        <div class="col-md-9">
            <div class="col-sm-12 margin-bottom-10">
                <div class="pull-right">
                    <button type="button" class="btn-u btn-u-blue dropdown-toggle pull-right" data-toggle="dropdown">
                        Action
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@com.mbrdi.anita.user.controller.routes.EmployeeController.addEmployeePage()">
                            <i class="fa fa-plus"></i> @Messages("addNewEmployee")
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target=".download-div">
                            <i class="icon-cloud-download" style="font-size: 15px;"></i> Download
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">
                            <i class="fa fa-cloud-upload"></i> @Messages("uploadEmployees")
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 pull-right">
                <div class="btn-group pull-right" role="group">
                    <label class="btn btn-default btn-u-sm" ng-click="prevPage()"><i class="fa fa-angle-double-left"></i></label>
                    <label class="btn btn-default btn-u-sm" ng-cloak style="cursor:default; background-color:#fff">
                        <span style="font-size:12px; ">Page </span>
                        <input type="text" class="btn btn-xs btn-default" ng-model="page" style="width: 40px;height:18px" ng-change="goTOPage()"/>
                        <span style="font-size:12px"> of {{total}}</span></label>
                    <label class="btn btn-default btn-u-sm " ng-cloak style="cursor:default; background-color:#fff">
                        <span style="font-size:12px;">Showing {{(page-1) * size +1 }} - {{(page-1)*size + employees.length}} of {{records}}</span>
                    </label>
                    <label class="btn btn-default btn-u-sm" ng-click="nextPage()"><i class="fa fa-angle-double-right"></i></label>
                </div>
            </div>

            <div class="margin-bottom-20"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><b>Detail</b></th>
                    <th><b>Professional Details</b></th>
                    <th><b>Office Details</b></th>
                    <th><b>Address</b></th>
                    <th><b>Is Admin</b></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="employee in employees" ng-cloak ng-class="'journey-' + employee.status">
                    <td ng-cloak>
                        <button class="btn-u btn-u-xs rounded-4x btn-u-red" ng-show="employee.notVerified == true" title="Pending Verification">!</button><b> {{employee.name}}</b><br>
                        {{employee.email}}<br>
                        {{employee.phone}}
                    </td>
                    <td ng-cloak>
                        {{employee.emp_no}}<br>
                        {{employee.designation}}<br>
                        {{employee.department}}
                    </td>
                    <td ng-cloak>
                        {{employee.workLocation.name}}<br>
                        {{employee.dutyHour.value}}
                    </td>
                    <td ng-cloak>
                        {{employee.address.address_line}}<br>
                        {{employee.address.area_name}}<br>
                    </td>
                    <td ng-cloak>
                        <button title="Edit Empoyee" type="button" class="btn btn-default btn-sm" ng-show="employee.isCorpAdmin == null || !employee.isCorpAdmin"
                                ng-click="makeAdmin(employee._id)"> <i class="fa fa-square-o"></i></button>
                        <button title="Edit Empoyee" type="button" class="btn btn-default btn-sm" ng-show="employee.isCorpAdmin != null && employee.isCorpAdmin"
                                ng-click="unmakeAdmin(employee._id)"> <i class="fa fa-check-square-o"></i></button>
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <button title="Edit Empoyee" type="button" class="btn btn-default btn-sm" ng-hide="employee.onJourney == true && employee.employee_id != null"
                                    ng-click="editEmployeeDetail(employee._id)"> <i class="icon-pencil"></i></button>
                            <button title="Delete Empoyee" type="button" class="btn btn-default btn-sm"  ng-hide="employee.onJourney == true"
                                    data-toggle='modal' title='Delete Employee' data-target='#responsiveDelete'  ng-click='setDeletedId(employee._id)' > <i class="icon-trash"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="btn-group pull-right" role="group">
                <label class="btn btn-default btn-u-sm" ng-click="prevPage()"><i class="fa fa-angle-double-left"></i></label>
                <label class="btn btn-default btn-u-sm" ng-cloak style="cursor:default; background-color:#fff">
                    <span style="font-size:12px; ">Page </span>
                    <input type="text" class="btn btn-xs btn-default" ng-model="page" style="width: 40px;height:18px" ng-change="goTOPage()"/>
                    <span style="font-size:12px"> of {{total}}</span>
                </label>
                <label class="btn btn-default btn-u-sm " ng-cloak style="cursor:default; background-color:#fff">
                    <span style="font-size:12px;">Showing {{(page-1) * size +1 }} - {{(page-1)*size + employees.length}} of {{records}}</span>
                </label>
                <label class="btn btn-default btn-u-sm" ng-click="nextPage()"><i class="fa fa-angle-double-right"></i></label>
            </div>
        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" id="body" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content margin-bottom-5">
                    <form action="@com.mbrdi.anita.user.controller.routes.EmployeeController.uploadEmployees()" enctype="multipart/form-data" method="post" onsubmit="closeBox();">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close"
                                    type="button">
                                <i class="fa fa-times"></i>
                            </button>
                            <h4 id="myLargeModalLabel" class="modal-title">@Messages("uploadFile")</h4>
                        </div>
                        <div class="margin-bottom-10"></div>
                        <div class="modal-body">
                            <label class="col-md-3 control-label">Employee xlsx file</label>
                            <div class="col-md-9">
                                <input type="file" name="file" class="form-control" />
                            </div>
                            <div class="margin-bottom-10"></div>
                            <div class="col-md-12">
                                Upload employee details in xlsx file. A SampleEmployee.xlsx can be found
                                <a href="@StaticContent.at("xls/sampleemployee.xlsx")" target="_blank" class="color-green">here</a>.
                            </div>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button class="btn-u btn-u-blue" style="margin-bottom: 10px; margin-left: 15px" type='submit'>
                                <i class="icon-cloud-upload"></i> @Messages("upload")
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade download-div" tabindex="-1" role="dialog" aria-labelledby="DownloadTrips" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content margin-bottom-5">
			<form action="@com.mbrdi.anita.user.controller.routes.EmployeeController.downloadEmployees()" method="post">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close"
						type="button">
						<i class="fa fa-times"></i>
					</button>
					<h4 id="myLargeModalLabel" class="modal-title">
						<i class="icon-cloud-download"></i> @Messages("Download Employees")
					</h4>
				</div>

				<div class="modal-footer">
					<button class="btn-u btn-u-green" style="margin-bottom: 10px; margin-left: 15px" type='submit'>
						<i class="fa fa-file-excel-o"></i> @Messages("Download")
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src='@StaticContent.at("assets/js/employee/employees_all.js")'></script>

@views.html.basic.footer()
