@import com.mbrdi.anita.basic.controller.StaticContent
@import com.mbrdi.anita.user.model.User

@views.html.basic.header("Dashboard","dashboard", "Dashboard")

<div class="row">
    <div class="col-md-12 margin-bottom-20">
        <div class="row margin-top-20 margin-bottom-60">
            <div class="shadow-wrapper col-md-12">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <a href="/corp/route">
                        <h2><i class="fa fa-user"></i> Users</h2>
                    </a>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn  btn-grey btn-sm">Total Registered Users</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_reg_users"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-orange btn-sm">Total Users On App</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_on_app_users"></button>
                    </div>
                    <!--<div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-success btn-sm">Total Active Users</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_active_users"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-danger btn-sm">Total Inactive Users</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_inactive_users"></button>
                    </div>-->
                    <!--<div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-success btn-sm">Total Crash Free Users</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_crash_free_users"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-danger btn-sm">Average Session Length</button>
                        <button type="button" class="btn btn-default btn-sm" id="average_session_length"></button>
                    </div>-->
                </div>
            </div>

            <!--<div class="shadow-wrapper col-md-12">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <a href="/corp/booking/all">
                        <h2><i class="fa fa-user"></i> Users</h2>
                    </a>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-grey btn-sm">No of Crash Reported (Day)</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_crash_reported"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-orange btn-sm">No the users offered the Ride</button>
                        <button type="button" class="btn btn-default btn-sm" id="no_of_users_offered_ride"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-success btn-sm">No of users searching the Ride</button>
                        <button type="button" class="btn btn-default btn-sm" id="no_of_users_searching_ride"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-danger btn-sm">Number of searchers without a Match</button>
                        <button type="button" class="btn btn-default btn-sm" id="total_searchers_without_match"></button>
                    </div>
                    <div class="btn-group margin-right-10" role="group">
                        <button type="button" class="btn btn-danger btn-sm">Time between Offer and Match</button>
                        <button type="button" class="btn btn-default btn-sm" id="time_betw_offer_match"></button>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

<script>
    var url = window.location.protocol + "//" + window.location.host + "/dashboard/statistics";
    $.get(url).success(function(response) {
        $('#total_reg_users').html(response[0]);
        $('#total_on_app_users').html(response[1]);
        $('#total_crash_free_users').html(response[4]);
        $('#average_session_length').html(response[5]);

        $('#total_crash_reported').html(response[6]);
        $('#no_of_users_offered_ride').html(response[7]);
        $('#no_of_users_searching_ride').html(response[8]);
        $('#total_searchers_without_match').html(response[9]);
        $('#time_betw_offer_match').html("0");
    });
</script>

@views.html.basic.footer()
