@(name:String, message:String)
<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Zoyride Email Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<div
	style="background-color: #fffbf2; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; margin-bottom: 0; margin-top: 0; padding-bottom: 0; padding-top: 0; width: 100%"
	bgcolor="#FFFBF2" width="100%">
	<span style="color: #fffbf2; font-size: 1px"> </span>

	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#FFFBF2">
		<tbody>
			<tr>
				<td valign="top" align="center" bgcolor="#FFFBF2">
					<table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
						<tbody>
							<tr>
								<td bgcolor="#fffbf2"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
										<tbody>
											<tr>
												<td height="19" style="font-size: 1px; line-height: 1px">&nbsp;</td>
											</tr>
											<tr>
												<td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td width="46" align="center"><a href="http://zoyride.com"
																	style="border: none; color: #00b4ae; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; outline: none; text-decoration: none"
																	target="_blank"> <img src="http://zoyride-asia.s3.amazonaws.com/email/text_logo.png" height="50"
																		style="border: none; display: block; outline: none" border="0" >
																</a></td>
																<td width="237">&nbsp;</td>
																<td width="205">&nbsp;</td>
																<td width="32" height="32" align="center" valign="middle" style="font-size: 0; line-height: 0; padding-top: 10px;"><a
																	href="http://zoyride.com/android"
																	style="color: #00b4ae; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; text-decoration: none"
																	target="_blank"><img src="http://zoyride-asia.s3.amazonaws.com/email/android.png" alt="Zoyride"
																		style="border: 0; display: block; outline: none" border="0" ></a></td>
															</tr>
														</tbody>
													</table></td>
											</tr>
											<tr>
												<td height="16" style="font-size: 1px; line-height: 1px">&nbsp;</td>
											</tr>
										</tbody>
									</table></td>
							</tr>
							<tr>
								<td valign="top"><table width="520" border="0" cellspacing="0" cellpadding="0" align="center">
										<tbody>
											<tr>
												<td>
													<table width="520" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td style="background-color: #fff; border: 1px solid #dcd8d3; border-radius: 4px; text-align: left" bgcolor="#fff"
																	align="left">
																	<table width="100%" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td style="border-radius: 3px 3px 0 0; overflow: hidden">

																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<table width="100%" cellspacing="0" cellpadding="32" align="center">
																		<tbody>
																			<tr>
																				<td>

																					<p style="color: #585551; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 25px; margin-bottom: 16px; margin-top: 0">
																							<strong>Hi @name</strong><br>
																							@message
																						</p>


																					<table border="0" cellpadding="0" cellspacing="0" width="100%" height="0">

																						<tbody>
																							<tr>
																								<td style="padding-top: 24px"></td>
																							</tr>

																							<tr>
																								<td style="height: 1px; background-color: #e6e6e6; color: #e6e6e6; line-height: 1px; font-size: 1px; width: 600px">-</td>
																							</tr>

																							<tr>
																								<td style="padding-bottom: 24px"></td>
																							</tr>

																						</tbody>
																					</table>


																					<p
																						style="color: #585551; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; font-size: 16px; font-weight: 400; line-height: 25px; margin-bottom: 16px; margin-top: 0; text-align: left"
																						align="center">
																						Thanks,<br> Team Zoyride <br> <a href="mailto:business@@zoyride.com"
																							style="color: #aba8a2; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; font-size: 12px; line-height: 17px; text-decoration: underline"
																							target="_blank">business@@zoyride.com</a>
																					</p>

																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table></td>
							</tr>
							<tr>
								<td valign="top" bgcolor="#fffbf2"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
										<tbody>
											<tr>
												<td height="19" style="font-size: 1px; line-height: 1px">&nbsp;</td>
											</tr>
											<tr>
												<td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
														<tbody>
															<tr>
																<td width="10">&nbsp;</td>
																<td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
																		<tbody>
																			<tr>
																				<td valign="top">
																					<table width="155" border="0" cellspacing="0" cellpadding="0" align="left">
																						<tbody>
																							<tr>
																								<td valign="top"><table width="155" border="0" cellspacing="0" cellpadding="0" align="center">
																										<tbody>
																											<tr>
																												<td valign="top"
																													style="color: #aba8a2; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; font-size: 12px; font-weight: 400; line-height: 17px; margin-bottom: 0; margin-top: 0">
																													<span>&copy;&nbsp;Zoyride 2015<br> <a href="mailto:business@@zoyride.com"
																														style="color: #aba8a2; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; font-size: 12px; line-height: 17px; text-decoration: underline"
																														target="_blank">business@@zoyride.com</a>
																												</span>
																												</td>
																											</tr>
																											<tr>
																												<td height="19" style="font-size: 1px; line-height: 1px">&nbsp;</td>
																											</tr>
																										</tbody>
																									</table></td>
																							</tr>
																						</tbody>
																					</table>
																					<table width="340" border="0" cellspacing="0" cellpadding="0" align="right">
																						<tbody>
																							<tr>
																								<td><table width="340" border="0" cellspacing="0" cellpadding="0" align="center">
																										<tbody>
																											<tr>
																												<td><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
																														<tbody>
																															<tr>
																																<td>&nbsp;</td>
																																<td width="42"><table width="42" border="0" cellspacing="0" cellpadding="0" align="center">
																																		<tbody>
																																			<tr>
																																				<td width="32" height="32" align="center" valign="middle" style="font-size: 0; line-height: 0"><a
																																					href="https://www.facebook.com/zoyride"
																																					style="color: #00b4ae; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; text-decoration: none"
																																					target="_blank"><img src="http://zoyride-asia.s3.amazonaws.com/email/fb.png" alt="Facebook"
																																						style="border: 0; display: block; outline: none" border="0" ></a></td>
																																				<td>&nbsp;</td>
																																				<td width="32" height="32" align="center" valign="middle" style="font-size: 0; line-height: 0"><a
																																					href="https://twitter.com/myzoyride"
																																					style="color: #00b4ae; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; text-decoration: none"
																																					target="_blank"><img src="http://zoyride-asia.s3.amazonaws.com/email/tw.png" alt="Twitter"
																																						style="border: 0; display: block; outline: none" border="0" ></a></td>
																																				<td>&nbsp;</td>
																																				<td width="32" height="32" align="center" valign="middle" style="font-size: 0; line-height: 0"><a
																																					href="https://plus.google.com/112368796744737130349"
																																					style="color: #00b4ae; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; text-decoration: none"
																																					target="_blank"><img src="http://zoyride-asia.s3.amazonaws.com/email/gplus.png" alt="Google +"
																																						style="border: 0; display: block; outline: none" border="0" ></a></td>
																																				<td>&nbsp;</td>
																																				<td width="32" height="32" align="center" valign="middle" style="font-size: 0; line-height: 0"><a
																																					href="https://www.linkedin.com/company/9226002"
																																					style="color: #00b4ae; font-family: ' Gotham Book' , Gotham ,' Proxima Nova' ,' Helvetica Neue' , Helvetica ,Arial,sans-serif; text-decoration: none"
																																					target="_blank"><img src="http://zoyride-asia.s3.amazonaws.com/email/li.png" alt="LinkedIn"
																																						style="border: 0; display: block; outline: none" border="0" ></a></td>
																																			</tr>
																																		</tbody>
																																	</table></td>
																															</tr>
																														</tbody>
																													</table></td>
																											</tr>
																											<tr>
																												<td height="13" style="font-size: 1px; line-height: 1px">&nbsp;</td>
																											</tr>
																											<tr>
																												<td valign="middle" style="color: #aba8a2; font-size: 12px; line-height: 17px; text-align: right" align="right">


																												</td>
																											</tr>
																											<tr>
																												<td height="19" style="font-size: 1px; line-height: 1px">&nbsp;</td>
																											</tr>
																										</tbody>
																									</table></td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table></td>
																<td width="10">&nbsp;</td>
															</tr>
														</tbody>
													</table></td>
											</tr>
											<tr>
												<td height="36" style="font-size: 1px; line-height: 1px">&nbsp;</td>
											</tr>
										</tbody>
									</table></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</div>
</body>
</html>